/*Clear float*/
[class*="-เมนูหลัก"]+ul::after {
 content: ' ';
 display: block;
 clear: both;
}
/*Float*/
[class*="-เมนูหลัก"]+ul>li {
 float: left;
}
/*Position*/
[class*="-เมนูหลัก"]+ul>li, [class*="เมนู"][class*="_สองชั้น"]+ul>li>*:nth-child(1)+ul>li {
 position: relative;
}
[class*="เมนู"][class*="_สองชั้น"]+ul>li>*:nth-child(1)+ul, 
[class*="เมนู"][class*="_สองชั้น"]+ul>li>*:nth-child(1)+ul>li>ul {
 position: absolute;
}
[class*="เมนู-แนวนอน"][class*="สี่"]+ul>li { width: 25%;}
[class*="เมนู-แนวนอน"][class*="ห้า"]+ul>li { width: 20%;}
[class*="เมนู-แนวนอน"][class*="หก"]+ul>li:not(:last-child) { width: 16.5%;}
[class*="เมนู-แนวนอน"][class*="หก"]+ul>li:last-child { width: 17.5%;}
[class*="เมนู"][class*="_สองชั้น"]+ul>li>*:nth-child(1)+ul, 
[class*="เมนู"][class*="_สองชั้น"]+ul>li>*:nth-child(1)+ul>li>*:first-child+ul {
 visibility: hidden;
 opacity: 0;
 width: 0;
 height: 0;
 top: 0px;
}
[class*="เมนู"][class*="_สองชั้น"]+ul>li:hover>*:nth-child(1)+ul {
 width: 100%;
 top: 35px;
 z-index: 99;
}
[class*="เมนู"][class*="_สองชั้น"]+ul>li:hover>*:nth-child(1)+ul, 
[class*="เมนู"][class*="_สองชั้น"]+ul>li>*:nth-child(1)+ul>li:hover>*:first-child+ul {
 visibility: visible;
 opacity: 1;
 height: auto;
}
[class*="เมนู"][class*="_สองชั้น"][class*="หก"]+ul>li>*:nth-child(1)+ul>li:hover>*:first-child+ul {
 width: 100%;
 left: 100%;
 z-index: 100;
}

[class*="-เมนูหลัก"]+ul>li>*:nth-child(1), 
[class*="เมนู"][class*="_สองชั้น"]+ul>li:hover>*:nth-child(1)+ul>li>*:first-child, 
[class*="เมนู"][class*="_สองชั้น"]+ul>li>*:nth-child(1)+ul>li>*:first-child+ul>li>*:first-child {
 display: block;
}
[class*="-เมนูหลัก"][class*="สี่"]+ul>li>*:nth-child(1) {
 font-family: Georgia, "Times New Roman", Times, serif;
}
[class*="-เมนูหลัก"][class*="ห้า"]+ul>li>*:nth-child(1), 
[class*="เมนู"][class*="_สองชั้น"]+ul>li:hover>*:nth-child(1)+ul>li>* {
 font-family: Lobster;
}
[class*="-เมนูหลัก"][class*="หก"]+ul>li>*:nth-child(1) {
font-family: Kilogram;
}
[class*="เมนู"][class*="_สองชั้น"]+ul>li:hover>*:nth-child(1)+ul>li>* {
 font-size: 1.2em;
}
[class*="-เมนูหลัก"][class*="ห้า"]+ul>li>*:nth-child(1), [class*="-เมนูหลัก"][class*="หก"]+ul>li>*:nth-child(1) {
 font-size: 1.5em;
}
/*Styling font*/
[class*="-เมนูหลัก"]+ul>li>*:nth-child(1), 
[class*="เมนู"][class*="_สองชั้น"]+ul>li:hover>*:nth-child(1)+ul>li>a, 
[class*="เมนู"][class*="_สองชั้น"]+ul>li>*:nth-child(1)+ul>li>*:first-child+ul>li>*:first-child {
 line-height: 35px;
 font-weight: 400;
 text-transform: uppercase;
 letter-spacing: 1px;
}
[class*="-เมนูหลัก"]+ul>li>*:nth-child(1), 
[class*="เมนู"][class*="_สองชั้น"]+ul>li:hover>*:nth-child(1)+ul>li>a, 
[class*="เมนู"][class*="_สองชั้น"]+ul>li>*:nth-child(1)+ul>li>*:first-child+ul>li>*:first-child {
 color: rgba(50, 50, 50, .7);
}
[class*="-เมนูหลัก"]+ul>li:hover>*:nth-child(1), 
[class*="เมนู"][class*="_สองชั้น"]+ul>li:hover>*:nth-child(1)+ul>li:hover>*:first-child, 
[class*="เมนู"][class*="_สองชั้น"]+ul>li>*:nth-child(1)+ul>li>*:first-child+ul>li:hover>*:first-child {
 color: rgba(50, 50, 50, 1);
}
[class*="-เมนูหลัก"]+ul>li>*:nth-child(1), [class*="เมนู"][class*="_สองชั้น"]+ul>li:hover>*:nth-child(1)+ul>li>a, 
[class*="เมนู"][class*="_สองชั้น"]+ul>li>*:nth-child(1)+ul>li>*:first-child+ul>li>*:first-child {
 text-shadow: 1px 1px 0px rgba(255, 255, 255, .9);
 box-shadow: 0px -15px 25px 0px rgba(50, 50, 50, .3) inset;
}
[class*="-เมนูหลัก"]+ul>li:hover>*:nth-child(1), 
[class*="เมนู"][class*="_สองชั้น"]+ul>li:hover>*:nth-child(1)+ul>li:hover>*:first-child, 
[class*="เมนู"][class*="_สองชั้น"]+ul>li>*:nth-child(1)+ul>li>*:first-child+ul>li:hover>*:first-child {
 box-shadow: 0px 25px 25px 0px rgba(50, 50, 50, .4) inset;
}
[class*="-เมนูหลัก"]+ul {
 border: solid 1px rgba(50, 50, 50, .15);
}
 [class*="เมนู"][class*="_สองชั้น"]+ul>li:hover>*:nth-child(1)+ul>li>*:first-child, 
 [class*="เมนู"][class*="_สองชั้น"]+ul>li>*:nth-child(1)+ul>li>*:first-child+ul>li>*:first-child {
 border-left: solid 4px rgba(50, 50, 50, .3);
}
[class*="เมนู-แนวนอน"]+ul>li:not(:first-child)>*:first-child {
 border-left: solid 1px rgba(255, 255, 255, .3);
}
[class*="เมนู-แนวนอน"]+ul>li:not(:last-child)>*:first-child {
 border-right: solid 1px rgba(50, 50, 50, .35);
}
[class*="เมนู"][class*="_สองชั้น"]+ul>li:hover>*:nth-child(1)+ul>li:hover>*:first-child, 
[class*="เมนู"][class*="_สองชั้น"]+ul>li>*:nth-child(1)+ul>li>*:first-child+ul>li:hover>*:first-child {
 border-left: solid 4px rgba(50, 50, 50, .6);
}
 [class*="เมนู"][class*="_สองชั้น"]+ul>li>*:nth-child(1)+ul>li>*:first-child, 
 [class*="เมนู"][class*="_สองชั้น"]+ul>li>*:nth-child(1)+ul>li>*:first-child+ul>li>*:first-child {
 border-top: solid 1px rgba(255, 255, 255, .3);
}
[class*="เมนู"][class*="_สองชั้น"]+ul>li>*:nth-child(1)+ul>li>*:first-child, 
[class*="เมนู"][class*="_สองชั้น"]+ul>li>*:nth-child(1)+ul>li>*:first-child+ul>li>*:first-child {
 border-bottom: solid 1px rgba(50, 50, 50, .35);
}